flask
flask-cors
yfinance==0.2.65
pandas==2.3.2
numpy==2.3.2
TA-Lib            # we build the C lib in Dockerfile
scikit-learn
scipy
joblib
threadpoolctl
openpyxl
gnews
newspaper3k
lxml_html_clean
nltk
rapidfuzz
gunicorn
torch
dotenv
gunicorn
torch
python-dotenv
openai>=1.0.0
langchain
langchain-openai
Werkzeug==3.0.4
pyodbc==5.1.0
PyJWT
bcrypt
pyodbc==5.1.0



